port=2000

DATABASE_URL="mysql://root:root@localhost:8889/translation_app_db"

JWT_ACCESS_SECRET=6f7b7b8ebdb03346c9ac05ca5230a3a1076ccb12c4ced9742ba14bb527b88186
JWT_REFRESH_SECRET=cf0b32c23147959d9ffa422318ef0f85af4e59e8f2116fe597e69554eaf449f2
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

SMTP_HOST="smtp.email.eu-paris-1.oci.oraclecloud.com"
SMTP_PORT=587
SMTP_USER="ocid1.user.oc1..aaaaaaaaxekwhfhj3c3jpo7xwvr43yr6g2vb5lldvi46jm4rwre675rrm7mq@ocid1.tenancy.oc1..aaaaaaaan7hbbxgymb6bcfcvjklv6czlr4wihkrmuxtjhba7adbeuqmokxsq.yq.com"
SMTP_PASS="NyMuYyF:n{qfg0LA]q0A"
SMTP_FROM=lionelkomguemalma@gmail.com
FRONTEND_URL=http://localhost:3000
